.testimonials-item-container {
  display: flex;
  border: 3px solid $blue-grey;
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(27, 54, 93, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  align-items: center;
  @media (max-width: $lg) {
    width: 90%;
  }
  @media (max-width: $md) {
    display: block;
  }
  @media (max-width: $sm) {
    height: 500px;
  }
  @media (max-width: $xs) {
    height: 550px;
  }
  @media (max-width: $xxs) {
    height: 700px;
  }
}

.testimonials-item-text-container {
  text-align: left;
  width: 65%;
  @media (max-width: $md) {
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonials-item-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(217, 168, 255, 0.5));
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  @media (max-width: $md) {
    display: none;
  }
  @media (min-width: $md) {
    margin: 0 10px;
  }
  @media (min-width: $lg) {
    margin: 0 20px;
  }
  @media (min-width: $xl) {
    margin: 0 40px;
  }
  @media (min-width: $xxl) {
    margin: 0 60px;
  }
  @media (min-width: $xxxl) {
    margin: 0 90px;
  }
}

.testimonials-item-author {
  @include h4-text;
}