.testimonials-item-container {
  display: flex;
  border: 3px solid $blue-grey;
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(27, 54, 93, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}

.testimonials-item-text-container {
  text-align: left;
}

.testimonials-item-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(217, 168, 255, 0.5));
}

.testimonials-item-author {
  @include h4-text;
}