.coc {
  @include pale-blue-bg;
  @include padding;
}

.coc__leaf {
  display: block;
  position: absolute;
  width: 150px;
  top: 25px;
  left: -50px;

  svg {
    width: 100%;
    height: auto;
    fill: $sprout-green;
  }

  @media (min-width: $sm) {
    width: 200px;
  }

  @media (min-width: $md) {
    width: 300px;
    top: 50px;
  }
}
.coc__body {
  @include margins;
  @include body-text;

  @media (min-width: $md) {
    @include right-padding;
    @include left-padding;
  }
}

.coc__subheading {
  @include h5-text;
}
