// ---------------------------------------------------------------------------
// Body Text
// ---------------------------------------------------------------------------

@mixin body-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.62em;

  @media (min-width: $xl) {
    font-size: 20px;
  }
}

@mixin xsmall-body-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-weight: normal;
  font-size: 10px;
  line-height: 44px;

  @media (min-width: $md) {
    font-size: 12px;
  }
}

@mixin small-body-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-weight: normal;
  font-size: 12px;
  line-height: 44px;

  @media (min-width: $md) {
    font-size: 16px;
  }
}

// ---------------------------------------------------------------------------
// H1-H6
// ---------------------------------------------------------------------------

@mixin h1-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-size: 20px;
  font-weight: 600;
  z-index: 0;
  @media (min-width: $sm) {
    font-size: 30px;
  }

  @media (min-width: $lg) {
    font-size: 36px;
  }
}

@mixin h2-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-size: 15px;
  font-weight: 600;

  @media (min-width: $lg) {
    font-size: 40px;
  }

  @media (min-width: $xxl) {
    font-size: 28px;
  }
}


@mixin h3-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em;
  @media (min-width: $lg) {
    font-size: 24px;
  }
}

@mixin h4-text($color: $pale-yellow) {
  color: $color;
  font-family: $font-body;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  @media (min-width: $md) {
    font-size: 20px;
  }

  @media (min-width: $xxl) {
    font-size: 20px;
  }
}

@mixin h5-text($color: $hbp-navy) {
  color: $color;
  font-family: $font-body;
  font-size: 18px;
  font-weight: 700;

  @media (min-width: $md) {
    font-size: 20px;
  }

  @media (min-width: $xl) {
    font-size: 22px;
  }
}

@mixin h6-text($color: $white) {
  color: $color;
  font-family: $font-body;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.1em;

  @media (min-width: $md) {
    font-size: 16px;
  }
}
