// ---------------------------------------------------------------------------
// CTA Buttons
// ---------------------------------------------------------------------------

@mixin primary-cta {
  @include body-text; 
  @include drop-shadow;
  font-weight: 700;
  background-color: #4366e1;
  padding: 12px 35px;
  border-radius: 50px;
  transition: background-color 0.3s ease;

  &:hover {
    color: $hbp-navy;
    background-color: #4366e1;
    opacity: 1;
    text-decoration: none;
  }

  @media (min-width: $md) {
    @include h3-text;
    padding: 12px 40px;
  }
}

@mixin secondary-cta {
  @include body-text;
  font-weight: 700;
  padding: 12px 35px;
  border: 3px $hbp-navy solid;
  border-radius: 50px;
  transition: background-color 0.2s ease;

  &:hover {
    color: $white;
    background-color: $hbp-navy;
    opacity: 1;
    text-decoration: none;
  }

  @media (min-width: $md) {
    @include h3-text;
    padding: 12px 40px;
  }
}

@mixin tertiary-cta {
  @include body-text;
  font-weight: 300;
  border-radius: 18px;
  border-width: 2px 4px;
  background-color: $charles-river-blue;
  width: 9.7em;
  height: 40px;
  @media (min-width: $lg) {
    @include h3-text;
    width: 40%;
  }
}

@mixin drop-shadow {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

// ---------------------------------------------------------------------------
// Inline Links
// ---------------------------------------------------------------------------

@mixin inline-link($color: $dark-green, $hover: $darker-green) {
  a:not([role='button']) {
    color: $color;
    transition: color 0.3s ease;

    &:hover {
      color: $hover;
    }
  }
}

// ---------------------------------------------------------------------------
// Colorblock Backgrounds
// ---------------------------------------------------------------------------

@mixin grey-bg {
  background-color: $grey;
  color: $hbp-navy;
  overflow: hidden;
}

@mixin dark-background($background-color: $camp-grass-green) {
  @include inline-link;
  background-color: $background-color;
  color: $white;
  overflow: hidden;
}

@mixin pale-blue-bg {
  @include inline-link;
  background-color: $camp-pale-blue;
  color: $hbp-navy;
  overflow: hidden;
}

@mixin green-blue-gradient-bg {
  @include inline-link;
  background: linear-gradient(
    180deg,
    #386a3f 3.65%,
    #0c4124 57.29%,
    #102137 100%
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  overflow: hidden;
}

@mixin green-gradient-bg {
  @include inline-link;
  background: linear-gradient(180deg, #17331b 27.08%, #1d8a4f 85.42%);
  color: $white;
  overflow: hidden;
}

@mixin pale-blue-gradient-bg {
  @include inline-link;
  background: linear-gradient($camp-pale-blue 27%, #52c2c2 100%);
  color: $hbp-navy;
  overflow: hidden;
}

@mixin orange-gradient-bg {
  @include inline-link;
  background: linear-gradient(#334171 0%, #e56138 38%, #ffed8e 59%);
  color: $hbp-navy;
  overflow: hidden;
}

@mixin charles-river-blue-bg {
  @include inline-link;
  background-color: $charles-river-blue;
  color: $white;
  overflow: hidden;
}

@mixin yellow-green-bg {
  @include inline-link;
  background-color: $yellow-green;
  color: $hbp-navy;
  overflow: hidden;
}

@mixin dark-green-bg {
  background-color: $dark-green;
  color: $white;
  overflow: hidden;
}
