.footer {
  display: flex;
  padding: 40px 0 5px 90px;
  border-top: 1px solid $blue-grey;
  backdrop-filter: blur(8px);
}

.footer__bg {
  background: #a0b2ef3d;
  position: relative;
}

.footer__column1 {
  margin: 0 12em 0 3em;
  width: 13%;
}

.footer_column3,
.footer_column2 {
}

.footer__logo {
  margin-left: -4.8em;
}

.footer__social {
  display: flex;
  li {
    padding-right: 1em;
  }
}

.footer__social-link {
  font-size: 18px;
  color: $pale-yellow;
  transition: color 0.2s ease;
}

.footer__coc-link {
  @include small-body-text;
}

input {
  border: 0;
  outline: 0;
  height: 40px;
  box-sizing: border-box;
  
}

.footer__form {
  width: 100%;
  padding: 1em 0;

  .footer__form-heading {
    @include h6-text;
    text-align: left;
    margin-bottom: 1rem;
  }

  .footer__form-msg {
    margin-top: 0.5rem;
  }

  .footer__form-input {
    border-radius: 18px;
    width: 450px;
    margin-right: 1em;

  }

  .footer__form-btn {
    @include tertiary-cta;
  }

  .footer__form-input-and-button {
    display: flex;
  }
}

.footer__link {
  @include body-text;
  font-weight: 500;
  color: $white;
  font-size: 18px;
  &:hover {
    color: $hbp-navy;
    border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
}

.footer__item {
  list-style-type: none;
  padding-bottom: 35px;
  padding-right: 110px;
}

.footer__core_team_note {
  @include small-body-text;
  padding-bottom: 2em;
  padding-left: 46%;
  backdrop-filter: blur(8px);
}

.footer_registered_text {
  @include small-body-text;
  line-height: 20px;
}