.footer {
  border-top: 1px solid $blue-grey;
  backdrop-filter: blur(12px);
  @media (min-width: $lg) {
    display: flex;
    padding-top: 50px;
    padding-left: clamp(1em, 3vw, 5em);
  }
}

.footer__bg {
  background: #a0b2ef3d;
  position: relative;
}

.footer__column1 {
  @media (min-width: $md) {
  }
  @media (min-width: $lg) {
    margin-right: clamp(3em, 6.1vw, 9em);
    margin-left: 3em;
    width: 13%;
  }
}

.footer_column3,
.footer_column2 {
  @media (min-width: $sm) {
    display: none;
  }
  @media (min-width: $lg) {
    padding-right: 0em;
  }
  @media (min-width: $xl) {
    display: block;
    padding-right: clamp(0.1em, 1.5vw, 2.5em);
  }
}

.footer__logo {
  margin-left: -2.8em;
}

.footer__social {
  display: flex;
  li {
    padding-right: 1em;
  }
}

.footer__social-link {
  font-size: 18px;
  color: $pale-yellow;
  transition: color 0.2s ease;
}

.footer__coc-link {
  @include xsmall-body-text;
}

input {
  border: 0;
  outline: 0;
  height: 40px;
  box-sizing: border-box;
}

.footer__form {
  @media (min-width: $lg) {
    width: 100%;
    padding: 1em 0;
  }

  .footer__form-heading {
    @include small-body-text;
    text-align: left;
    margin-bottom: 1rem;
  }

  .footer__form-msg {
    margin-top: 0.5rem;
  }

  .footer__form-input {
    border-radius: 18px;
    width: clamp(10em, 29vw, 30em);
    margin-right: 1em;
    font-style: italic;
    padding-left: 12px;
  }

  .footer__form-btn {
    @include tertiary-cta;
  }

  .footer__form-input-and-button {
    display: flex;
    @media (min-width: $sm) {
      flex-direction: column;
    }
    @media (min-width: $lg) {
      flex-direction: row;
    }
  }
}

.footer__link {
  @include body-text;
  font-weight: 500;
  color: $white;
  font-size: 18px !important;
  &:hover {
    color: $hbp-navy;
    border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
}

.footer__item {
  list-style-type: none;
  @media (min-width: $lg) {
    padding-bottom: 30px;
    padding-right: clamp(1.5em, 7vw, 10em);
  }
}

.footer__core_team_note {
  @include xsmall-body-text;
  padding-bottom: 1em;
  padding-left: 46%;
  backdrop-filter: blur(12px);
}

.footer_registered_text {
  @include xsmall-body-text;
  line-height: 20px;
}
