.footer {
  border-top: 1px solid $blue-grey;
  backdrop-filter: blur(12px);
  text-align: center;
  padding-top: 30px;
  @media (min-width: $lg) {
    display: flex;
    padding-left: 7em;
    text-align: inherit;
    padding-top: 50px;
  }
  @media (min-width: $xl) {
    padding-left: clamp(1em, 3vw, 5em);
  }
}

.footer__bg {
  background: #a0b2ef3d;
  position: relative;
}

.footer__column1 {
  width: 8em;
  margin: auto;
  @media (min-width: $lg) {
    margin:initial;
    margin-right: clamp(3em, 6.1vw, 9em);
    margin-left: 3em;
    width: 13%;
  }
}

.footer_column3,
.footer_column2 {
  display: none;
  @media (min-width: $lg) {
    padding-right: 0em;
  }
  @media (min-width: $xl) {
    display: block;
    padding-right: clamp(0.1em, 1.5vw, 2.5em);
  }
}

.footer__logo {
  margin-left: -.2em;
  @media (min-width: $lg) {
    margin-left: -2.8em;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  li {
    padding-right: 1em;
  }
  padding-left: 1em;
  margin-top: 0.8em;
  @media (min-width: $lg) {
    justify-content: initial;
    padding-left: 0;
  }
}

.footer__social-link {
  font-size: 18px;
  color: $pale-yellow;
  transition: color 0.2s ease;
}

.footer__coc-link {
  @include xsmall-body-text;
}

input {
  border: 0;
  outline: 0;
  height: 40px;
  box-sizing: border-box;
}

.footer__form {
  @media (min-width: $lg) {
    width: 100%;
    padding: 0.5em 0;
  }
  @media (min-width: $xl) {
    padding: 1em 0;
  }

  .footer__form-heading {
    @include small-body-text;
    margin-bottom: 1rem;
    text-align: center;
    @media (min-width: $lg) {
      text-align: left;
    }
  }

  .footer__form-msg {
    margin-top: 0.5rem;
  }

  .footer__form-input {
    border-radius: 18px;
    font-style: italic;
    padding-left: 12px;
    margin-right: 0;
    margin-bottom: 1em;
    font-size: 18px;
    width: 15em;
    @media (min-width: $lg) {
      margin-right: 1em;
      margin-bottom: 0;
      width: clamp(10em, 29vw, 30em);
    }
  }

  .footer__form-btn {
    @include tertiary-cta;
  }

  .footer__form-input-and-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $lg) {
      flex-direction: row;
    }
  }
}

.footer__link {
  @include body-text;
  font-weight: 500;
  color: $white;
  font-size: 18px !important;
  &:hover {
    color: $hbp-navy;
    border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
}

.footer__item {
  list-style-type: none;
  @media (min-width: $lg) {
    padding-bottom: 30px;
    padding-right: clamp(1.5em, 7vw, 10em);
  }
}

.footer__core_team_note {
  @include xsmall-body-text;
  padding-bottom: 1em;
  text-align: center;
  backdrop-filter: blur(12px);
}

.footer_registered_text {
  @include xsmall-body-text;
  margin-bottom: 0;
  line-height: 20px;
}
