// ---------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------

.header__content {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 170px 0 0 0;
  position: absolute;
}

.header__title {
  @include h1-text;
  margin-bottom: -70px;
}

.header__event-date {
  @include h4-text;
}

.header__description {
  @include body-text;
  margin-top: -70px;
}

.header__newsletter-input {
  border: 0;
  outline: 0;
  width: 290px;
  height: 40px;
  border-radius: 10px;
  padding: 0 0.5rem;
}

.header__form-msg {
  margin-top: 0.5rem;
}

.header__cta {
  @include primary-cta;
  margin-top: 10px;
}

.space-jam-mars {
  position: absolute;
  top: 670px;
  right: 545px;
}

.space-jam-saturn-orbit {
  position: absolute;
  top: 30px;
  right: -140px;
}

.space-jam-earth {
  position: absolute;
  top: 120px;
  left: 280px;
}

.space-jam-neptune {
  position: absolute;
  top: 470px;
  left: -100px;
}

// ---------------------------------------------------------------------------
// Theme
// ---------------------------------------------------------------------------

.theme-announcement {
  @include orange-gradient-bg;
}

.theme__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.theme__transition {
  margin-top: -1px;
  width: 100vw;

  @media (max-width: $md) {
    margin-bottom: 1rem;
  }
}

.theme__logo {
  @media (max-width: $lg) {
    display: none;
  }
}

.theme__sunset-scene {
  width: 100%;
  height: auto;
  z-index: 0;
  margin-top: -250px;

  svg {
    width: 100%;
  }

  @media (max-width: $sm) {
    margin-top: -150px;
  }

  @media (min-width: $lg) {
    margin-top: -400px;
  }

  @media (min-width: $xl) {
    margin-top: -500px;
  }

  @media (min-width: $xxl) {
    margin-top: -570px;
  }

  @media (min-width: $xxxl) {
    margin-top: -650px;
  }
}

.theme__camp {
  @include h2-text;
}

.theme__content {
  width: 100%;

  @media (min-width: $lg) {
    width: 60%;
  }
}

// ---------------------------------------------------------------------------
// About
// ---------------------------------------------------------------------------
.about__title {
  @include h2-text;
}

.about-item{
  @include top-padding;
  @include green-blue-gradient-bg;
}

.about-paragraph {
  color: #CFE8E8;
  width: 30vw;
  text-align: center;
  font-size: 2vw;
  @media (max-width: $lg){
    width: revert;
    font-size: 4vw;
  }
}

.about-footsteps{
  width: 20vw;
  @media (max-width: $lg){
    display: none;
  }
}

.about-content{
  @include bottom-padding;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  @media (max-width: $lg){
    justify-content: center;
  }
}
// ---------------------------------------------------------------------------
// FAQ
// ---------------------------------------------------------------------------

.faq {
  @include green-gradient-bg;
  @include top-padding;
  @include bottom-padding;
}

.faq__title {
  @include h2-text($white);
}

.faq__cta-group {
  text-align: center;
}

.faq__cta-label {
  @include body-text;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq__cta {
  @include primary-cta;
}

.faq__footsteps {
  float: right;

  @media (max-width: $lg) {
    display: none;
  }
}

// ---------------------------------------------------------------------------
// Sponsors
// ---------------------------------------------------------------------------

.home-sponsors {
  @include top-padding;
  @include bottom-padding;

  &__title {
    @include h2-text;
  }

  &__subtitle {
    text-align: center;
    @include top-margin;
  }

  &__logo-wrapper {
    justify-content: center;
    display: flex;
    max-height: 12vw;
    margin-top: 15px;
    
    @media (max-width: $md) {
      max-height: 150px;
    }
  }

  &__logo {
    object-fit: contain;
    height: 100%;
  }
}

// ---------------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------------

.cloud {
  animation: moveAcross 12s linear infinite;
}

@keyframes moveAcross {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(100vw);
  }
}

// ---------------------------------------------------------------------------
// Other
// ---------------------------------------------------------------------------

.light-dark-toggle {
  float: right;
  padding: 20px 20px 0 0;
  z-index: 100;
}

.welcome__container {
  height: 1000px;
}