// ---------------------------------------------------------------------------
// Header
// ---------------------------------------------------------------------------
.header__container {
  height: 850px;
  @media (min-width: $md) {
    height: 1000px;
  }
}

.header__content {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 170px 0 0 0;
  position: absolute;
}

.header__title {
  @include h1-text;
  margin-bottom: -90px;
  @media (min-width: $sm) {
    margin-bottom: -70px;
  }
}

.header__description {
  @include body-text;
  margin-top: -70px;
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
  @media (min-width: $sm) {
    margin-bottom: 0;
  }
}

.header__cta {
  @include primary-cta;
  margin-top: 10px;
}

// ---------------------------------------------------------------------------
// Theme
// ---------------------------------------------------------------------------

.theme-announcement {
  height: 1000px;
  @media (min-width: $lg) {
    height: 830px;
  }
  @media (min-width: $xl) {
    height: 950px;
  }
}

.theme__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.theme__content {
  width: 100%;
  margin: 130px 0 0 0;
  @media (min-width: $xl) {
    width: 56%;
  }
  @media (min-width: $xxl) {
    margin: 130px 0 0 -100px;
  }
}

.theme__header {
  @include h4-text;
  color: $pale-yellow !important;
}

.theme__space-jam {
  @include h1-text;
}

.theme__description {
  margin-top: 30px;
}

.theme__disclaimer {
  @include small-body-text;
  font-style: italic;
  color: $pale-yellow;
  margin: 30px 0 50px 0;
}

.theme__cta-container {
  display: flex;
  justify-content: center;
  margin-top: -1.3em;
  @media (min-width: $sm) {
    margin-top: 0;
    display: block;
  }
}

// ---------------------------------------------------------------------------
// Covid Precautions
// ---------------------------------------------------------------------------

.covid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media (min-width: $md) {
    flex-direction: row;
  }
}

.covid__content {
  position: absolute;
  right: 0;
  margin: 120px 0 40px 0;
  width: 100%;
  @media (min-width: $xl) {
    margin: 130px 0 0 0;
    width: 56%;
  }
  @media (min-width: $xxl) {
    margin: 130px -100px 0 0;
  }
}

.covid__header {
  @include h4-text;
  color: $pale-yellow !important;
}

.covid__space-jam {
  @include h1-text;
}

.covid__description {
  margin: 30px 0 40px 0;
}

.covid__container {
  height: 1600px;
  @media (min-width: $xxs) {
    height: 1300px;
  }
  @media (min-width: $xs) {
    height: 1100px;
  }
  @media (min-width: $sm) {
    height: 1100px;
  }
  @media (min-width: $md) {
    margin-top: 40px;
  }
  @media (min-width: $lg) {
    height:900px;
  }
  @media (min-width: $xl) {
    height: 850px;
    margin-top: 110px;
  }
}

// ---------------------------------------------------------------------------
// About
// ---------------------------------------------------------------------------
.about {
  $about-breakpoint: $md;
  text-align: center;
  padding-top: 130px;
  @media (min-width: $xxs) {
    padding-top: 50px;
  }
  @media (min-width: $xs) {
    padding-top: 0;
  }
  @media (min-width: $lg) {
    height: 800px;
  }

  &__mobile {
    @media (min-width: $about-breakpoint) {
      display: none;
    }
  }

  &__title {
    @include h1-text;
    padding-bottom: 0;
    margin-bottom: -150px;
    @media (min-width: $xxs) {
      margin-bottom: 0px;
    }
    @media (min-width: $lg) {
      padding-bottom: 40px;
    }
  }

  &__desktop {
    @media (max-width: $about-breakpoint) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

// ---------------------------------------------------------------------------
// Testimonials
// ---------------------------------------------------------------------------
.testimonials__container {
  text-align: center;
  height: 1000px;
  padding-top: 130px;
  @media (min-width: $xl) {
    padding-top: 250px;
  }
}

.testimonials__box {
  
}

.archive__content {
  text-align: center;
  margin-top: 100px;
}

.archive__description {
  @include h2-text;
  margin-bottom: 30px;
  line-height: 2em;
  @media (min-width: $md) {
    line-height: 2.5em;
  }
}

.testimonials__title {
  margin-bottom: 50px;
}

.planet_selection_container {
  margin-top: 60px;
}

// ---------------------------------------------------------------------------
// FAQ
// ---------------------------------------------------------------------------

.faq {
  height: 2800px;
  padding-top: 400px;
  @media (min-width: $xxs) {
    padding-top: 200px;
    height: 2500px;
  }
  @media (min-width: $xs) {
    height: 2200px;
  }
  @media (min-width: $sm) {
    padding-top: 100px;
    height: 1900px;
  }
  @media (min-width: $md) {
    padding-top: 200px;
    height: 1900px;
  }
  @media (min-width: $lg) {
    height: 2150px;
  }
  @media (min-width: $xl) {
    height: 2000px;
  }
  @media (min-width: $xxl) {
    height: 1800px;
  }
}

.faq__title {
  @include h1-text;
  text-align: center;
  margin: 200px 0 60px 0;

}

.faq__cta-group {
  text-align: center;
  margin-top: 100px;
}

.faq__cta-label {
  @include h2-text;
  margin-bottom: 30px;
  line-height: 2em;
  @media (min-width: $md) {
    line-height: 2.5em;
  }
}

.faq__cta {
  @include primary-cta;
}

// ---------------------------------------------------------------------------
// Sponsors
// ---------------------------------------------------------------------------

.home-sponsors {
  @include top-padding;
  @include bottom-padding;

  &__title {
    @include h2-text;
  }

  &__subtitle {
    text-align: center;
    @include top-margin;
  }

  &__logo-wrapper {
    justify-content: center;
    display: flex;
    max-height: 12vw;
    margin-top: 15px;

    @media (max-width: $md) {
      max-height: 150px;
    }
  }

  &__logo {
    object-fit: contain;
    height: 100%;
  }
}

// ---------------------------------------------------------------------------
// Animations
// ---------------------------------------------------------------------------

.cloud {
  animation: moveAcross 12s linear infinite;
}

@keyframes moveAcross {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(100vw);
  }
}

// Other

.home {
  overflow-x: hidden;
}
