@charset "UTF-8";

// Vendor
@import './normalize.scss';
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import '../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import './flickity.scss';

// Global helpers
@import './_constants.scss';
@import './_mixins-typography.scss';
@import './_mixins-helpers.scss';
@import './_mixins-spacing.scss';

// Components
@import '../components/faqItems/faq-items.scss';
@import '../components/faqItem/faq-item.scss';
@import './nav.scss';
@import './footer.scss';
@import '../components/about/about-item.scss';
@import '../components/testimonials-items/testimonial-item.scss';

// Pages
@import '../pages/404/404.scss';
@import '../pages/code-of-conduct/code-of-conduct.scss';
@import '../pages/sponsors/sponsors.scss';
@import '../pages/packet/packet.scss';
@import './home.scss';

@import './global.scss';

// Svgs 
@import './svgs.scss';
