.nav,
.nav-mobile {
  position: sticky;
  transition: 0.3s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid $blue-grey;
}

.nav-mobile {
  height: $navbar-mobile-height;
}

.nav {
  display: none;
  height: $navbar-height;
  @media (min-width: $md) {
    display: block
  }
}

.light-dark-toggle {
  position: absolute;
  top: calc(20px + #{$navbar-height});
  right: 20px;
  z-index: 100;
}

.social-links {
  top: calc(350px + #{$navbar-height});
}

.nav__social-link {
  color: $pale-yellow;
}

nav.scrolled, .nav, .nav-mobile {
  background: rgba(160, 178, 239, 0.24);
}

.nav__logo {
  margin-left: -.5em;
  @media (min-width: $lg) {
  margin: 0;
  .opened & {
    padding: 3px;
  }
}
}

// ---------------------------------------------------------------------------
// Desktop Nav
// ---------------------------------------------------------------------------

.nav {
  padding: 10px 30px;

  @media (min-width: $md) {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  margin-bottom: 0;
  margin-left: auto;
}

.nav__item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.nav__link {
  @include body-text;
  font-size: clamp(12px, 1.6vw, 18px);
  font-weight: 400;
  &:hover {
    color: $hbp-navy;
    border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
  @media (min-width: $xl) {
    font-size: 18px !important;
  }
}

// ---------------------------------------------------------------------------
// Mobile Nav
// ---------------------------------------------------------------------------

.nav-mobile {
  display: block;

  &.opened {
    height: 100vh;
    background-color: $hbp-navy;
    overflow-y: hidden;
  }

  @media (min-width: $md) {
    display: none;
  }
}

.nav-mobile__top {
  @include padding;
  display: flex;
  justify-content: space-between;

  .closed & {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-mobile__toggle-btn {
  margin-top: .4em;
  > .close-icon {
    color: $white;
  }

  > .menu-icon {
    color: $white;
  }
}

.nav-mobile__item {
  margin: 20px 0;
  background-color: $hbp-navy;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $yellow-green-disabled;
  }
}

.nav-mobile__link {
  @include h4-text($white);
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
  color: background-color 0.2s ease;
  text-transform: none;
  &:hover {
    color: $hbp-navy;
    text-decoration: none;
  }
}