.space-jam-title {
  width: 100%;
}

.space-jam-saturn-orbit {
  position: absolute;
  right: -120px;
  width: 10em;
  top: -20px;
  @media (min-width: $sm) {
    right: -70px;
  }
  @media (min-width: $lg) {
    top: 30px;
    width: 15em;
    right: -140px;
  }
  @media (min-width: $xl) {
    width: 22em;
  }
}

.space-jam-mars {
  position: absolute;
  top: 670px;
  display: none;
  @media (min-width: $xl) {
    display: block;
    width: 22em;
    right: clamp(100px, 17vw, 545px);
  }
}

.space-jam-earth {
  position: absolute;
  top: 120px;
  display: none;
  @media (min-width: $xl) {
    display: block;
    width: 22em;
    left: clamp(100px, 8vw, 280px);
  }
}

.space-jam-neptune {
  position: absolute;
  top: 440px;
  left: -60px;
  width: 13em;
  @media (min-width: $sm) {
    width: 20em;
    top: 470px;
  }
  @media (min-width: $lg) {
    left: -100px;
    width: 20em;
  }
  @media (min-width: $xl) {
    width: 22em;
  }
}

.blastoff-neptune {
  position: absolute;
  right: 200px;
  top: -80px;
  width: 2.5em;
  display: none;
  @media (min-width: $sm) {
    width: 3em;
    right: 300px;
    display: block;
  }
  @media (min-width: $xl) {
    top: 100px;
    width: 8em;
    right: 580px;
  }
}

.blastoff-astronaut {
  position: absolute;
  right: -100px;
  top: -200px;
  width: 14em;
  @media (min-width: $sm) {
    top: -180px;
    width: 18em;
  }
  @media (min-width: $xl) {
    right: -180px;
    top: 200px;
    width: 40em;
  }
}

.covid-astronaut-purple {
  position: absolute;
  display: none;
  @media (min-width: $xl) {
    top: 110px;
    left: -200px;
    display: block;
  }
  @media (min-width: $xxl) {
    top: 100px;
    left: -290px;
  }
}

.covid-astronaut-red {
  position: absolute;
  top: 380px;
  left: 40px;
  display: none;
  @media (min-width: $xl) {
    display: block;
  }
}

.covid-earth {
  position: absolute;
  left: -130px;
  top: 580px;
  display: none;
  @media (min-width: $xl) {
    display: block;
  }
  @media (min-width: $xxl) {
    left: -150px;
    top: 550px;
  }
}

.purple-plus-sign {
  float: right;
}

.faq-mercury {
  position: absolute;
  top: -150px;
  right: 30px;
}

.faq-uranus-faded {
  position: absolute;
}


.contact-astronaut {
  display: none;
  z-index: 0;
  position: absolute;
  width: 15em;
  @media (min-width: $xl) {
    display: block;
    width: 18em;
    top: 700px;
    right: -40px;
  }
  @media (min-width: $xxl) {
    top: 750px;
    right: -40px;
  }
}

.contact-jupiter-faded {
  position: absolute;
  left: -40px;
  top: 1700px;
  width: 6em;
  @media (min-width: $xxs) {
    top: 1500px;
  }
  @media (min-width: $sm) {
    top: 1250px;
  }
  @media (min-width: $lg) {
    left: -40px;
    top: 900px;
    width: 8em;
  }
}

.contact-moon-faded {
  position: absolute;
  width: 3.5em;
  display: none;
  @media (min-width: $sm) {
    right: 200px;
    top: 1400px;
  }
  @media (min-width: $md) {
    right: 300px;
  }
  @media (min-width: $lg) {
    display: block;
    right: 300px;
  }
  @media (min-width: $xl) {
    width: 10em;
    right: 450px;
    top: 1100px;
  }
  @media (min-width: $xxl) {
    top: 1100px;
    right: 300px;
  }
}


.testimonials-mars-dim {

}

.testimonials-mercury-dim {
  
}

.testimonials-neptune-dim {
  
}

.testimonials-venus-dim {
  
}

.testimonials-mars-bright {

}

.testimonials-mercury-bright {
  
}

.testimonials-neptune-bright {
  
}

.testimonials-venus-bright {
  
}

.testimonials__planet {
  margin: 10px;
}