.space-jam-title {
  width: 100%;
  height: 257px;
}

.space-jam-saturn-orbit {
  position: absolute;
  right: -120px;
  width: 10em;
  top: -20px;
  height: 430px;
  @media (min-width: $sm) {
    right: -70px;
  }
  @media (min-width: $lg) {
    top: 30px;
    width: 15em;
    right: -140px;
  }
  @media (min-width: $xl) {
    width: 22em;
  }
}

.space-jam-mars {
  position: absolute;
  top: 670px;
  display: none;
  height: 141px;
  @media (min-width: $xl) {
    display: block;
    width: 22em;
    right: clamp(100px, 17vw, 545px);
  }
}

.space-jam-earth {
  position: absolute;
  top: 120px;
  display: none;
  height: 130px;
  @media (min-width: $xl) {
    display: block;
    width: 22em;
    left: clamp(100px, 8vw, 280px);
  }
}

.space-jam-neptune {
  position: absolute;
  top: 440px;
  left: -60px;
  width: 13em;
  height: 371px;
  @media (min-width: $sm) {
    width: 20em;
    top: 470px;
  }
  @media (min-width: $lg) {
    left: -100px;
    width: 20em;
  }
  @media (min-width: $xl) {
    width: 22em;
  }
}

.blastoff-neptune {
  position: absolute;
  right: 200px;
  top: -80px;
  width: 2.5em;
  height: 90px;
  display: none;
  @media (min-width: $sm) {
    width: 3em;
    right: 300px;
    display: block;
  }
  @media (min-width: $xl) {
    top: 100px;
    width: 8em;
    right: 580px;
  }
}

.blastoff-astronaut {
  position: absolute;
  right: -100px;
  top: -200px;
  width: 14em;
  height: 494px;
  @media (min-width: $sm) {
    top: -180px;
    width: 18em;
  }
  @media (min-width: $xl) {
    right: -180px;
    top: 200px;
    width: 40em;
  }
}

.covid-astronaut-purple {
  position: absolute;
  display: none;
  height: 309px;
  width: 466px;
  @media (min-width: $xl) {
    top: 110px;
    left: -200px;
    display: block;
  }
  @media (min-width: $xxl) {
    top: 100px;
    left: -290px;
  }
}

.covid-astronaut-red {
  position: absolute;
  top: 380px;
  left: 40px;
  display: none;
  width: 441px;
  height: 493px;
  @media (min-width: $xl) {
    display: block;
  }
}

.covid-earth {
  position: absolute;
  left: -130px;
  top: 580px;
  display: none;
  width: 129px;
  height: 130px;
  @media (min-width: $xl) {
    display: block;
  }
  @media (min-width: $xxl) {
    left: -150px;
    top: 550px;
  }
}

.purple-plus-sign {
  height: 27px;
  width: 27px;
}

.faq-mercury {
  position: absolute;
  display: none;
  width: 132px;
  height: 133px;
  @media (min-width: $md) {
    display: block;
    top: 150px;
    right: 100px;
  }
  @media (min-width: $xl) {
    top: -150px;
    right: 30px;
  }
}

.faq-uranus-faded {
  position: absolute;
}

.contact-astronaut {
  display: none;
  z-index: 0;
  position: absolute;
  width: 15em;
  @media (min-width: $xl) {
    display: block;
    width: 18em;
    top: 1300px;
    right: -40px;
  }

}

.contact-jupiter-faded {
  position: absolute;
  left: -40px;
  top: 1700px;
  width: 160px;
  height: 148px;
  @media (min-width: $xxs) {
    top: 1500px;
  }
  @media (min-width: $sm) {
    top: 1250px;
  }
  @media (min-width: $lg) {
    left: -40px;
    top: 900px;
    width: 8em;
  }
}

.contact-moon-faded {
  position: absolute;
  width: 3.5em;
  height: 106px;
  display: none;
  @media (min-width: $sm) {
    right: 200px;
    top: 1400px;
  }
  @media (min-width: $md) {
    right: 300px;
  }
  @media (min-width: $lg) {
    display: block;
    right: 300px;
  }
  @media (min-width: $xl) {
    width: 10em;
    right: 450px;
    top: 1200px;
  }
  @media (min-width: $xxl) {
    top: 1200px;
    right: 300px;
  }
}

.testimonials-uranus-orbit {
  position: absolute;
  width: 266px;
  height: 256px;
  @media (min-width: $xxxl) {
    left: 450px;
  }
  @media (min-width: $xxl) {
    left: 300px;
  }
  @media (min-width: $xl) {
    left: 250px;
  }
  @media (min-width: $lg) {
    left: 50px;
  }
  @media (max-width: $lg) {
    left: -50px;
  }
  @media (max-width: $sm) {
    left: -150px;
  }
}

.testimonials__planet {
  width: 74px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--dim {
    padding: 11px;
  }
}
