
.faq-item {
    margin-bottom: 20px;
    width: 80%;
  }
  
  .faq-item__question {
    @include h3-text;
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
  }
  
  .faq-item__answer {
    margin-top: 20px;
  }
  
  .purple-line {
    margin-top: -20px;
    border: 2px solid $light-purple;
  }