.about-item-container {
  width: 25%;
}

.about-item-text-container {
  margin: 50px 0 0 0;
}

.about-item-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(217, 168, 255, 0.5));
  border-radius: 50%;
}

.about-item-title {
}
