.about-item-container {
}

.about-item-img {
  position: absolute;
  width: 350px;
  height: 350px;
  object-fit: cover;
  filter: drop-shadow(0px 0px 40px rgba(217, 168, 255, 0.5));
  border-radius: 50%;
}

.about-item-title {
}
