.about-item-container {
  width: 100%;
  padding: 10px;
  @media (min-width: $xxl) {
    width: 25%;
  }
}

.about-item-text-container {
  margin: 50px 0 0 0;
}

.about-item-img {
  object-fit: cover;
  filter: drop-shadow(0px 0px 20px rgba(217, 168, 255, 0.5));
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 40px;
  @media (min-width: $xxs) {
    width: 200px;
    height: 200px;
  }
  @media (min-width: $xs) {
    width: 300px;
    height: 300px;
  }
  @media (min-width: $sm) {
    width: 350px;
    height: 350px;
  }
  @media (min-width: $md) {
    width: 200px;
    height: 200px;
  }
  @media (min-width: $lg) {
    width: 280px;
    height: 280px;
  }
  @media (min-width: $xl) {
    width: 350px;
    height: 350px;
  }
}
