.faq-columns-container {
  display: block;
  @media (min-width: $lg) {
    display: flex;
  }
}

.faq-column1 {
  width: 100%;
  margin-left: 40px;
  @media (min-width: $xxs) {
    margin-left: 40px;
  }
  @media (min-width: $xs) {
    margin-left: 60px;
  }
  @media (min-width: $sm) {
    margin-left: 80px;
  }
  @media (min-width: $md) {
    margin-left: 100px;
  }
  @media (min-width: $lg) {
    margin-left: 130px;
  }
  @media (min-width: $xl) {
    margin-left: 150px;
  }
}
.faq-column2 {
  width: 100%;
  margin-left: 40px;
  @media (min-width: $xxs) {
    margin-left: 40px;
  }
  @media (min-width: $xs) {
    margin-left: 60px;
  }
  @media (min-width: $sm) {
    margin-left: 80px;
  }
  @media (min-width: $md) {
    margin-left: 100px;
  }
}