.faq-sizer,
.faq-item {
  width: 100%;

  @media (min-width: $md) {
    width: 45%;
  }
}

.faq-gutter-sizer {
  width: 0;

  @media (min-width: $md) {
    width: 5%;
  }
}

.faq-item {
 // align-items: flex-start;
  margin-bottom: 20px;
  width: 80%;
}

.faq-item__question-container {
  display: flex;
}

.faq-item__leaf {
  margin-right: 20px;
  svg {
    width: 30px;
  }
}

.faq-item__question {
  @include h3-text;
  margin-bottom: 30px;
}

.faq-item__answer {
  margin-top: 20px;
}

.purple-line {
  margin-top: -20px;
  border: 2px solid $light-purple;
}